* {
    color: black;
    margin: 0;
    border-style: border-box;
    font-family: 'Urbanist', sans-serif;
    font-size: 48px;
}

.board-table {
    border: black solid 2px;
    border-radius: 15px;
    padding: 20px;
    background-color: blue;
}

#gametype-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 48px;
}

.play-arrow {
    height: 40px;
    width: 40px;
    border-style: solid;
    border-color: white;
    border-width: 0px 4px 4px 0px;
    transform: rotate(45deg);
}

.play-arrow:hover {
    border-color: black;
}

.play-arrow-container {
    width: 730px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

#player-names {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color:red;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 96px;
    text-shadow: 2px 2px blue;
}

h3 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

.slot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
}

#turn-status {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
}