* {
    color: black;
    margin: 0;
    border-style: border-box;
    font-family: 'Urbanist', sans-serif;
    font-size: 36px;
}

.board-table {
    width: 50%;
    border: black solid 2px;
    border-radius: 15px;
    box-shadow: 1px 1px;
    padding: 15px;
    background-color: #034AA6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#first-player-tile {
    background-color: yellow;
    border-radius: 50%;
    border: solid black 2px;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#gametype-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 48px;
}

#game {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    color:#D93030;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 76px;
    text-shadow: 2px 2px #034AA6;
}

h3 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.play-arrow {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: transparent;
    border-width: 0px 4px 4px 0px;
    transform: rotate(45deg);
}

.play-arrow:hover {
    border-color: black;
}

.play-arrow-container {
    width: 644px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#player-list-container {
    display: flex;
    justify-content: center;
}

#player-names {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.player-name-container {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player-select-button {
    margin-top: 20px;
}

#player-select-menu {
    margin-top: 20px;
    margin-bottom: 20px;
}

#replay-container > button {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

#replay-container > button:hover {
    background-color:rgb(186, 190, 240);
}



#replay-container {
    margin-top: -380px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 15%;
    justify-content: space-around;
}

.row {
    width: 100%; 
    display: flex;
    justify-content: space-around;
}

#second-player-tile {
    background-color: red;
    border: solid black 2px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 10px;
}

.slot {
    height: 80px;
    width: 80px;
    margin: 5px;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
}

#turn-status {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    width: 75%;
}

@media (max-width: 830px) {
    * {
        font-size: 18px;
    }

    .board-table {
        padding: 8px;

    }

    #first-player-tile {
        height: 40px;
        width: 40px;
        margin-right: 5px;
    }
    

    #gametype-select {
        font-size: 24px;
    }

    h1 {
        font-size: 38px;
        text-shadow: 2px 2px #034AA6;
    }


    h3 {
        font-size: 18px;
    }

    .play-arrow {
        border-color: lightgray;
        height: 20px;
        width: 20px;
    }

    .play-arrow-container {
        width: 315px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #replay-container {
        margin-top: -200px;
    }

    #second-player-tile {
        height: 40px;
        width: 40px;
        margin-left: 5px;
    }

    .slot {
        height: 40px;
        width: 40px;
        margin: 1.5px;
        border-radius: 50%;
        background-color: rgb(205, 205, 205);
    }

    #turn-status {
        font-size: 18px;
    }
}